@tailwind base;
@tailwind components;
@tailwind utilities;

.inputBox {
   width: 90%;
   margin: auto;
}
.inputBox input {
   width: 100%;
   display: flex;
   cursor: pointer;
   border-radius: 2px;
   padding: 5px;
   margin: auto;
   outline: none;
   border-top: none;
   border-right: none;
   border-left: none;
   border-color: #a9d1ff;
   border-width: 1px;
}
.inputBox input:hover {
   border-width: 2px;
}
.inputBox label {
   font-size: 0.9rem;
}

.navUl {
   position: fixed;
   transition: 0.5s;
   background-color: #202020;
   width: max-content;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   height: 100vh;
   white-space: nowrap;
}
.hoverOrange:hover {
   background-color: #f56f3a;
   transition: 0.1s ease all;
}

.hideScrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
